{% block header %}
<header>
    <div class="contenedor">
        <h2 class="logotipo">OFERTAZOS</h2>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="">Productos</a>
                    <ul class="submenu">
                        <li><a href="{% url 'perecible' %}">Perecible</a></li>
                        <li><a href="{% url 'Noperecible' %}">No perecible</a></li>
                        <li><a href="{% url 'aProducto' %}">Agregar producto</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'tiendas' %}">Tiendas Asociadas</a></li>
                <li><a href="{% url 'Mpuntos' %}">MisPuntos</a></li>
            </ul>
        </nav>
        
    </div>
</header>
{% endblock %}

