{% block categoria %}
{% load static %}
<div id="div-cont-categoria-todo">
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>videojuegos</p>
        </div>
    </div>
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>Moda</p>
        </div>
    </div>
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>Tecnología</p>
        </div>
    </div>
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>Vestimenta</p>
        </div>
    </div>
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>Calzado</p>
        </div>
    </div>
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>Alimentos</p>
        </div>
    </div>
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>Deportes</p>
        </div>
    </div>
    <div class="div-cont-categoria">
        <img src="{% static 'img/index/juegos.png' %}" alt="juegos" class="idx-categorias">
        <div>
            <p>Aseo</p>
        </div>
    </div>
</div>

{% endblock %}
