{% include 'bloques/mensajes.html' %}
{% include 'bloques/cabezaCliente.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/idxproductos.css' %}">
    <link rel="stylesheet" href="{% static '/css/Slide.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/index/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/index/indexprod.css' %}">
</head>
<body> 
    <div class='div-fondo-img'>
        <div class='div-fondo-tr'>
            <div class='divbase'>
                <div class='textoarea'>
                    <div class='textoh1'>
                        <h1>¡Bienvenid@ a Ofertazo!</h1>
                        <h2>No te des la molestia de viajar por medio internet para encontrar buenas ofertas.</h2>
                        <h2>¡Aquí sí que encontrarás buenos Ofertazos!</h2>
                    </div>
                    {% if user.is_authenticated %}
                    <div class='textoh2'>
                        <h2>¡Bienvenid@ {{user}}!</h2>
                        <h2>Esperamos que estés bien, te desea todo el equipo detrás de Ofertazos. </h2>
                    </div>
                    {% else %}
                    <div class='textoh2'>
                        <h2>Si ya posees cuenta ¡registrate!</h2>
                        <h2>Si no, pues create una cuenta. ¡Es gratis!</h2>
                        <div class="divbotones">
                            <button><a href="{% url 'loginCliente' %}">Iniciar sesión</a></button>
                            <button><a href="{% url 'registro' %}">Crear cuenta</a></button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="div-contenido">
        <div class='divVerOfertas'>
            <div class="div-preOferta"><h2>Mira aquí las últimas ofertas subidas. 👀 o si quieres pasa directamente a ver todas las ofertas aquí.</h2></div>
            <button><a href="#">Ver productos</a></button>
        </div>
        <div id="divProductos" >
            {% for i in productos %} 
            {% load humanize %}
            <div class="divContenedorGeneral">
                <div class="divImgProducto">
                    <div class="divNombre"><h4>{{ i.NomProducto | title }}</h4></div>
                    {% if i.FotoProducto %}
                    <img src="{{i.FotoProducto.url}}" alt="{{ i.NomProducto }}" id="imgProducto">
                    {% endif %}
                    <div class="divprecios">
                        <div class="precios">
                            <div class="precioOferta"><h2>${{ i.PrecioOferta | intcomma }}</h2></div>
                            <div class='oferta'><p>{{i.PorcentajeDescuento}}%</p></div>
                        </div>           
                        <div class="normalprecio"><del>Precio normal: ${{ i.PrecioNormal | intcomma }}</del></div>             
                    </div>
                    <div class="divNombreTienda"><p>{{i.TiendaProducto}}</p></div>
                    <div class='botonesdiv'>
                        <button><a href="{% url 'ProductDetail' i.IdProducto %}">Ver Oferta</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- ================================================================================================= -->

        {% include 'bloques/footer.html' %}
</body>
    <script src="{% static '/js/idx.js' %}"></script>
    <script src="{% static '/js/idxcatverde.js' %}"></script>
 
</html>