{% include 'bloques/cabezaCliente.html' %}
{% include 'bloques/mensajes.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    <link rel="stylesheet" href="{% static 'css/productos/productos.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos/puntoOferta.css' %}">
    <link rel="stylesheet" href="{% static '/css/productos/listafiltros.css' %}">
    
    {% block header %}
    {% endblock %}
    {% include 'bloques/barrabusqueda.html' %}
    <div id="divProductos" >
        {% for i in entity %} 
        {% load humanize %}
        <div class="divContenedorGeneral" id="{{i.IdProducto}}" >
            <div class="divImgProducto">
                {% if i.FotoProducto %}
                <img src="{{i.FotoProducto.url}}" alt="{{ i.NomProducto }}" id="imgProducto">
                {% endif %}
                <div class="divNombre"><h4 class="texto">{{ i.NomProducto | title }}</h4></div>
                <div>
                    {% if i.IdRubro == 1 %}
                   <p class="rubro">alimentos</p>
                   {% endif %}
                   {% if i.IdRubro == 2 %}
                   <p class="rubro">Electrodomésticos</p>
                   {% endif %}
                   {% if i.IdRubro == 3 %}
                   <p class="rubro">Línea Blanca</p>
                   {% endif %}
                   {% if i.IdRubro == 4 %}
                   <p class="rubro">Ropa</p>
                   {% endif %}
                </div>
                <div class="divprecios">
                    <div class='div-preODesc'>
                        <div class="oferta"><h5 class="texto" id="poferta">${{ i.PrecioOferta | intcomma }}</h5></div>
                        <div class="descuento"><p class=" descuento">{{i.PorcentajeDescuento}}% </p></div>
                    </div>
                    <div class="precioNormal texto"><h6  id="pnormal">${{ i.PrecioNormal | intcomma }}</h6></div>
                    <!-- <input type="hidden" value="{{i.PrecioNormal}}" id="pnormal">
                    <input type="hidden" value="{{i.PrecioOferta}}" id="poferta"> -->
                    <!-- <h5 id="descuento">Descuento </h5> -->
                </div>
                <div class="divNombreTienda"></div>
                <button id="veroferta"><a href="{% url 'ProductDetail' i.IdProducto %}">Visualizar oferta</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% include 'bloques/paginador.html' %}
    </body>
<script src="{% static 'js/filtros.js' %}"></script>
<!-- <script src="{% static 'js/descuento.js' %}"></script> -->
</html>