{% include 'bloques/cabezaCliente.html' %}
{% include 'bloques/mensajes.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static '/css/detalleproducto/detalleoferta.css'%}">
<link rel="stylesheet" href="{% static '/css/detalleproducto/detalleproducto.css'%}">

<html lang="en">
    <body>
        <div class='contenedorTodo'>
            <div class="div-contenedor">
                <div class="divcontenidoproducto">
                    <img src="{{prod.FotoProducto.url}}" alt="">
                    <div class="divcontenidoproductoinfo">
                        <h1>{{prod.NomProducto | title}}</h1>
                        <div class='divdescripcion'>
                            <p>{{prod.DescripProducto}}</p>
                        </div>
                        <div class='precios'>
                            <div class='divprecios'>
                                <h2 class='oferta'>Precio oferta: ${{ prod.PrecioOferta | intcomma }}</h2>
                                <h6>{{prod.PorcentajeDescuento}}% OFF</h6>
                            </div>
                        </div>
                        <div class="PrecioNormal"><p>Precio normal: <del>${{ prod.PrecioNormal | intcomma }}</del></p></div>
                        <div class="valoraciones"><p>Este producto tiene un {{positivas}}% de valoraciones positivas.</p></div>
                        <div class="productostock"><p>Stock disponible: {{prod.StockProducto}}</p></div>
                        <div class='tiendaproducto'><p>Tienda: {{prod.TiendaProducto}}</p></div>
                        <div class="fecpub"><p>Publicado: {{prod.HoraPublicacion}}</p></div>
                        <div class="fectermino"><p>Termino: {{prod.FechaLimite}}</p></div>
                        <div class="linkproducto"><button><a href="{{prod.LinkProducto}}">link del producto</a></button></div>
                    </div>
                </div>
            </div>
            <div class="divfunciones">
                {% if user.is_authenticated %}
                <h2 id="lel"></h2>
                <form action="" method="post" name="formularioValoracion">
                    {% csrf_token %}
                    <div class="estrellitas">
                        <div class='estrellas'>
                            <img src="{% static 'img/ProductoDetalle/valorarno.png' %}" class="StarValoracion" id="v1" alt="" srcset="">
                            <img src="{% static 'img/ProductoDetalle/valorarno.png' %}" class="StarValoracion" id="v2" alt="" srcset="">
                            <img src="{% static 'img/ProductoDetalle/valorarno.png' %}" class="StarValoracion" id="v3" alt="" srcset="">
                        </div>
                    </div>
                    <input type="hidden" id="Valpuntos" name="ClientePuntos" value="0">
                    <h2 id="valorarRespuesta"></h2>
                    <input type="text" placeholder="Comentar" name="Comentario" id="publicado">
                    <input type="hidden" name="bueno" id="bueno" value="0">
                    <input type="hidden" name="cal" id="cal" value="0">
                    <input type="hidden" name="malo" id="malo" value="0">
                    <input type="hidden" id="ptscliente" name="PuntosAnadidos" value="0">
                    <button>Publicar valoración</button>
                </form>
                <p>Si tienes la boleta de tu compra realizada, puedes subirla <a href="{% url 'subirboleta' %}">Aquí</a> para verificar si se ha respetado la oferta establecida.</p>
                
                {% else %}
                <h5>Para comentar, valorar y/o subir la boleta de compras debes de estar registrad@.</h5>
                {% endif %}
            </div>
            <div class="contcomentarios">
                <h3  class='divcomentarios'>Comentarios</h3>
                {% for x in comentarios %}
                <div class='div-comentarios'>
                    <div class='com-contenedor'>
                        <div class='com-usuario'>
                            <h2>{{x.idUsuario.username | title}}</h2>
                        </div>
                        <div class="com-comentario">
                            <p>{{x.comentario}}</p>
                        </div>
                        <div class='fechacomentario'><p>{{x.fecComentario}}</p></div>
                    </div>
            </div>
            {% endfor %}

            </div>
        {% include 'bloques/footer.html' %}
        {% block footer %}
        {% endblock %}
        <!-- Script estrellas valorar -->
        <script src="{% static 'js/valoracion.js' %}"></script>
        <script src="{% static '/js/comentarios.js' %}"></script>
    </body>
</html>