{% include 'cabeza.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

    <title>OFERTAZOS</title>
    <link rel="stylesheet" href="{% static 'css/stPagP.css' %}" >


    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto+Slab&display=swap' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    {% block header %}
    {% endblock %}
    
    <br>
    <br>
    <br>
    <div class="login-box">
        <h1>Iniciar Sesion</h1>
        <img src="{% static 'img/anim.gif' %}" alt="usuario" class='jijija' >
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Usuario">
        </div>
      
        <div class="textbox">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Contraseña">
        </div>
      
     <div>
        <a class="" href="{% url 'registro' }">no tienes una cuenta?</a>
     </div>
        <input type="button" class="btn" value="Iniciar">
      </div>
    
    {% include 'footer.html' %}
    {% block footer %}
    {% endblock %}
</body>


</html>
